.banner {
  display: none;
}

@media only screen and (min-width: 38em) {

  .banner {
    display: block;
    position: relative;
  }

  .banner-img {
    width: 100%;
    background-size: cover;
  }

  .banner-text {
    position: absolute;
    bottom: 30%;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
  }

  .banner .btn {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn-blue {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    transition: all 500ms linear;
    color: #fff;
  }

  .btn-blue:hover {
    border-color: #fff;
    background-color: #fff;
    color: var(--color-primary);
  }
}
