.page-items > div {
  display: none;
}

.page-btn-blue btn-b-no-border {
  border: 4px solid #000;
  border-radius: 100%;
  background-color: var(--color-secondary);
}

.page-number {
  color: #000;
}

#tab1-control:checked ~ .page-inner #tab1,
#tab2-control:checked ~ .page-inner #tab2,
#tab3-control:checked ~ .page-inner #tab3,
#tab4-control:checked ~ .page-inner #tab4 {
  display: block;
}

#tab1-control:checked ~ .page-inner [for="tab1-control"] .page-btn btn-blue btn-b-no-border,
#tab2-control:checked ~ .page-inner [for="tab2-control"] .page-btn btn-blue btn-b-no-border,
#tab3-control:checked ~ .page-inner [for="tab3-control"] .page-btn btn-blue btn-b-no-border,
#tab4-control:checked ~ .page-inner [for="tab4-control"] .page-btn btn-blue btn-b-no-border{
  background-color: var(--color-accent);
}
