
.carousel-items > div {
  display: none;
}

.carousel-btn {
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: var(--color-primary-dark);
}

.page-number {
  color: #000;
}

#tab1-control:checked ~ .carousel-inner #tab1,
#tab2-control:checked ~ .carousel-inner #tab2,
#tab3-control:checked ~ .carousel-inner #tab3,
#tab4-control:checked ~ .carousel-inner #tab4 {
  display: block;
}

#tab1-control:checked ~ .carousel-inner [for="tab1-control"] .carousel-btn,
#tab2-control:checked ~ .carousel-inner [for="tab2-control"] .carousel-btn,
#tab3-control:checked ~ .carousel-inner [for="tab3-control"] .carousel-btn,
#tab4-control:checked ~ .carousel-inner [for="tab4-control"] .carousel-btn {
  background-color: var(--color-accent);
}
