.footer-link {
  color: #E59A25;
}

.footer-copyright {
  color: #E59A25;
  text-align: center;
}

.footer {
  background-color: var(--color-primary);
}

.footer-nav {
  text-align: center;
}

.footer-text {
  color: #E59A25;
  text-align: center;
}
