.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
  transition: background-color 500ms linear;
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: #fff;
  transition: background-color 500ms linear;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
  transition: background-color 500ms linear;
}

.btn-blue {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: background-color 500ms linear;
}

.btn-icon {
  background-image: url("../../images/icon-1.svg");
  background-size: contain;
  background-position: center center;
  color: transparent;
  background-repeat: no-repeat;
}

.btn-b-no-border {
  border: none;
  padding: 10.5px;
  transition: background-color 500ms linear;
}

.btn-no-border {
  border: none;
  padding: 10.5px;
  transition: background-color 500ms linear;
}

.btn-small {
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: background-color 500ms linear;
}

.btn:hover {
  background-color: #fff;
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.btn-light:hover {
  border-color: var(--color-primary-light);

  color: var(--color-primary-light);
}

.btn-ghost:hover {
  background-color: var(--color-primary);

  color: #fff;
}

.btn-blue:hover {
  border-color: var(--color-secondary);

  color: var(--color-secondary);
}

.btn-icon:hover {
  background-image: url("../../images/icons.svg#heart");
  background-size: contain;
  background-position: center center;
  color: transparent;
  background-repeat: no-repeat;
  background-color: #fff;
}
