.banner {
  position: relative;
}

img {
  width: 50%;
  background-size: cover;
}

p {
  position: absolute;
  bottom: 25%;
  color: #000;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4px;
}

.btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-blue {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: all 500ms linear;
  color: #f2aa1d;
}

.btn-blue:hover {
  border-color: #f2aa1d;
  background-color: #f2aa1d;

  color: var(--color-secondary);
}
