.banner {
  position: relative;
}

img {
  width: 100%;
  background-size: cover;
}

p {
  position: absolute;
  bottom: 25%;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-blue {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: all 500ms linear;
  color: #fff;
}

.btn-blue:hover {
  border-color: #fff;
  background-color: #fff;

  color: var(--color-secondary);
}
