:root {
  --color-primary: blue;
  --color-primary-light: babyblue;
  --color-secondary: coral;
  --color-accent: blue;
  --color-neutral-beige: babyblue;
  --color-whatever: coral;

  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Merriweather Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}
