a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-accent);
}

.nav {
  position: relative;
  background-color: var(--color-primary);
  z-index: 2;
}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;

  color: #fff;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus {
  background-color: #fff;
  color: var(--color-accent);
}
